#root_layout{
    -fx-padding: 20px;
}

#title_layout, #bottom_layout{
    -fx-background-radius: 10px;
    -fx-background-color: #ff8c00;
}

#title_label{
    -fx-font-size: 20pt;
    -fx-padding: 20px;
}

#bottom_label{
    -fx-font-size: 10pt;
    -fx-padding: 10px;
}

#center_layout{
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
    -fx-padding: 20px 20px 0 20px;
}

#grid_layout{
    -fx-tile-alignment: center;
    -fx-text-alignment: center;
    -fx-max-height: 400px;
    -fx-max-width: 400px;
    -fx-min-height: 400px;
    -fx-min-width: 400px;
    -fx-pref-width: 400px!important;
    -fx-pref-height: 400px!important;
}

#button_layout{
    -fx-pref-width: 100%;
    -fx-alignment: baseline-right;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

#btn_restart, #btn_quit{
    -fx-background-color: #ff8c00;
    -fx-font-size: 14pt;
}

#btn_restart:hover, #btn_quit:hover{
    -fx-background-color: #ff6005;
}